.forecast-container{
    min-width: 300px;
    background: linear-gradient(to bottom, rgba(122, 255, 114, 0.5), rgba(0, 98, 34, 0.1));
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.forecast-list{
    display:inline-flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.forecast-item{
    border-radius: 10px;
    text-align: center;
    text-transform: capitalize;
    font-size: 0.9rem;
    background-color: rgba(122, 255, 114, 0.2);
    padding:10px;
    width: 120px;
    margin: 5px;
}

