

.container{
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

h1{
  font-size: 3rem;
  color: white;
}

input {
  padding: 10px;
  border-radius: 20px 0 0 20px;
  border: none;
  width: 60%;
  max-width: 250px;
  outline: none;
}

button {
  background-color: #30c59d;
  padding: 10px;
  border-radius: 0 20px 20px 0;
  border: 0;
  width: auto;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #2eb2a1;
}